<a href="https://colab.research.google.com/github/Ryeol93/python202206/blob/main/pythonbasic01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [13]:
# 6 기초 -주석/변수 Comment/Variable

# 자바에서의 주석 // /* */ 처럼 파이썬에서는 #을 주석 기호로 사용한다.
# """   """ 삼중 따옴표 로 여러줄 주석 처럼 사용한다.-> docstring 

"""
프로그램 버전 : 0.1
프로그램 작성자 : 홍길동 
프러그램 작성일 : 2022/05/31
"""

# 프로그램 버전 : 0.1
# 프로그램 작성자 : 홍길동 
# 프러그램 작성일 : 2022/05/31

# 구문의 위에 삽입
print("Hello World") # 구문의 우측에 삽입
# 구문의 하단에 삽입

# 주석의 또다른 용법 : 원래 주석의 기본적인 의미는 코드에 대한 설명이지만 
#                      주석의 또라른 중여한 용법은 코드의 일부를 일시 정지시키는 용도

print("Hello")
# print("World") # 코드에 주석을 사용하여 임시로 동작을 하지 않게 만드는 역할
print('Python') # 파이썬에서는 ''   ""   가 완전히 동일하게 사용된다.

print("Austin's pie")  # 기호로써의 ' 를 표시하고 싶을때는 "" 를 사용하여 열고 닫는다. 
print('Austin\'s pie')

Hello World
Hello
Python
Austin's pie
Austin's pie

In [8]:
# 변수

# 자바나 씨 등의 언어와는 달리 변수를 선언할때 앞에서 형을 정해주지 않는다.
# 선언과 동시에 파이썬이 데이터를 알아서 정수인지 문자열인지 판단을 하여 저장한다.

age = 21
name = "홍길동"

type(name)

age, name = 21, "홍길동"

# 변수명 선언 방법

#  1.문자 숫자_만 사용
#  2.숫자로 시작할수는 없다. A100(0) 100A(x)
#  3.예약어는 사용할 수 없다. print, class.....
#  4.대소 문자를 구분한다.  a = 100, A = 100 별개의 변수
#  5.변수명은 영어로만 만들자 (한글로도 만들수는 있다. )

# austinYoonGood camel case
# austin_yoon_good snake case

In [ ]:

# 다음 중 틀린 것을 고르시오.

# 1 a100 = '기획부'
# 2 부서명 = '영업부'
# 3 _200 = '관리부'
# 4 print = '광고부'

In [ ]:
# 출력 결과를 예상하여 알맞은 결과를 고르시오. 1
# a = 100
# A = 200
# print(a)


# 1 100
# 2 200
# 3 300
# 4 None

In [14]:
# korea 이라는 변수명에 주식가격인 63000 을 할당하고, 
# 100 주를 보유하고 있을 때 평가 금액을 계산하시오.

korea = 63000
total = korea*100
print(total)

6300000

In [15]:
# 7 기초 - 기본 자료형 Data Type

# 숫자형 

a = 3
b = 3.14
c = -2

type(b)

float

In [17]:
43 / 4

10.75

In [18]:
43 // 4 # 몫

10

In [20]:
43 % 4 
# % 나머지 연산자로 홀수/짝수/배수 를 알아낼 수 있다.

3

In [23]:
# 불형 bool or boolean -> True False    주의 : true flase 와는 다르다.

1 == 1

True

In [25]:
1 != 1

False

In [36]:
from typing import List
# 문자열....
name1 = "Austin" # 파이썬에서는 큰따옴표와
name2 = 'austin' # 작은 따옴표 모두 문자열을 나타낸다.
age = "30"       # 숫자라도 따옴표가 있으면 문자로 처리된다.
age = 30         # 숫자는 따옴표가 없다.

# 문자열에서는 인덱싱 - 몇 번째 글자 하나 

words = "I love you" # 어떤 문자열에서 글자하나만 추출 -> v
print(words[4])

# 파이썬에서의 독특한 인덱싱 방법 , 마지막 한글자만 추출, 뒤부터는 '-1'부터 센다.
print(words[-1])

# 문자열에서의 슬라이싱 - 글자 여러개
words = "I love you"
words[2:6] #[시작:끝(미만)] [시작:끝(미만):증감] 
words[2:6:1] # step 은 생략 가능 생략하면 1
print(words[:6:1]) # 시작을 생략하면 0부터 시작
print(words[:6:1]) # 마지막을 생략하면 끝까지 
print(words[::2]) # 하나씩 건너 띄워 인쇄

# 문자열에서의 슬라이싱 - 글자 여러개

# 문자열에서의 인덱싱과 슬라이싱 기법은 그대로 리스트와 튜플에서도 동일하게 사용된다.

v
u
I love
I love
Ilv o

In [41]:
# "LOVE" 문자열을 "EVOL" 로 뒤집어 출력하세요

word = 'LOVE'
word[::-1]

'EVOL'

In [53]:
#"He is good. All the time" 문자열에서 "time"만 추출하세요.
word = "He is good. All the time"
word[-4:]

'time'

In [55]:
# 출력 print

word = "He is good, All the time"
print(word)

He is good, All the time

In [57]:
who =  "He"
print(who,"is good, All the time")

He is good, All the time

In [59]:
who =  "He"
print("%s is good, All the time" %who)

He is good, All the time

In [62]:
who =  "He"
print("{} is good, All the time".format(who))

He is good, All the time

In [64]:
who =  "He"
print(f'{who} is good, All the time')

He is good, All the time

In [85]:
name = "Austin"
age = 20

#방법 1 기본 출력
print ("안녕하세요. 나의 이름은 Austin이며 나이는 20살 입니다. ")

#방법 2 % 포멧터 출력
print ("안녕하세요. 나의 이름은 %s이며 나이는 %s살 입니다. " % (name, age))


#방법 3 format 매서드 출력
print ("안녕하세요. 나의 이름은 {}이며 나이는 {}살 입니다. ".format(name, age))

#방법 4
print (f"안녕하세요. 나의 이름은 {name}이며 나이는 {age}살 입니다. ")

안녕하세요. 나의 이름은 Austin이며 나이는 20살 입니다.
안녕하세요. 나의 이름은 Austin이며 나이는 20살 입니다.
안녕하세요. 나의 이름은 Austin이며 나이는 20살 입니다.
안녕하세요. 나의 이름은 Austin이며 나이는 20살 입니다.